.App {
  text-align: center;
}

.App button {
  background-color: deepskyblue;
  color: white;
  padding: 8px;
  margin: auto 16px;
  display: inline;
  cursor: pointer;
  border: 1px solid blue;
  font: inherit;
}

.App button:hover {
  background-color: dodgerblue;
  color: black;
}